<footer class="footer text-center text-sm-left">
    Restream Banthangtv &copy; 1.0.0 <span class="text-muted d-none d-sm-inline-block float-right"><a href="https://www.facebook.com/zorovhsvn" target="_blank">ZoroVHS</a></a></span>
</footer><!--end footer-->
</div>
<!-- end page content -->
</div>
<!-- end page-wrapper -->

<script src="/assets/js/bootstrap.bundle.min.js"></script>
<script src="/assets/js/metisMenu.min.js"></script>
<script src="/assets/js/waves.min.js"></script>
<script src="/assets/js/jquery.slimscroll.min.js"></script>
<script src="/assets/plugins/jquery-steps/jquery.steps.min.js"></script>
<script src="/assets/js/toastr.min.js"></script>
<!-- Sweet-Alert  -->
<script src="/assets/plugins/sweet-alert2/sweetalert2.min.js"></script>
<!-- Required datatable js -->
<script src="/assets/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="/assets/plugins/datatables/dataTables.bootstrap4.min.js"></script>
<!-- Buttons examples -->
<script src="/assets/plugins/datatables/dataTables.buttons.min.js"></script>
<script src="/assets/plugins/datatables/buttons.bootstrap4.min.js"></script>
<script src="/assets/plugins/datatables/jszip.min.js"></script>
<script src="/assets/plugins/datatables/pdfmake.min.js"></script>
<script src="/assets/plugins/datatables/vfs_fonts.js"></script>
<script src="/assets/plugins/datatables/buttons.html5.min.js"></script>
<script src="/assets/plugins/datatables/buttons.print.min.js"></script>
<script src="/assets/plugins/datatables/buttons.colVis.min.js"></script>
<!-- Responsive examples -->
<script src="/assets/plugins/datatables/dataTables.responsive.min.js"></script>
<script src="/assets/plugins/datatables/responsive.bootstrap4.min.js"></script>
<script src="/assets/plugins/select2/select2.min.js"></script>
<script src="/assets/plugins/clipboard/clipboard.min.js"></script>
<!-- Form Wizard -->
<script src="/assets/js/form-wizard.js"></script>
<!-- App js -->
<script src="/assets/js/app.js"></script>
<script src="/assets/js/core.js"></script>
<!--Plugins-->
<script src="/assets/plugins/flot-chart/jquery.flot.min.js"></script>
<script src="/assets/plugins/flot-chart/jquery.flot.time.js"></script>
<script src="/assets/plugins/flot-chart/jquery.flot.tooltip.min.js"></script>
<script src="/assets/plugins/flot-chart/jquery.flot.resize.js"></script>
<script src="/assets/plugins/flot-chart/jquery.flot.pie.js"></script>
<script src="/assets/plugins/flot-chart/jquery.flot.selection.js"></script>
<script src="/assets/plugins/flot-chart/jquery.flot.stack.js"></script>
<script src="/assets/plugins/flot-chart/curvedLines.js"></script>
<script src="/assets/plugins/flot-chart/jquery.flot.crosshair.js"></script>

<script src="/assets/js/dashboard.init.js" defer></script>
</body>
</html>