<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Restream Banthang.tv</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- App favicon -->
        <link rel="shortcut icon" href="/assets/images/favicon.ico">
        <!--Form Wizard-->
        <link rel="stylesheet" href="/assets/plugins/jquery-steps/jquery.steps.css">
        <link href="/assets/plugins/select2/select2.min.css" rel="stylesheet" type="text/css" />
        <!-- App css -->
        <link href="/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="/assets/css/icons.css" rel="stylesheet" type="text/css" />
        <link href="/assets/css/metisMenu.min.css" rel="stylesheet" type="text/css" />
        <link href="/assets/css/style.css" rel="stylesheet" type="text/css" />
        <link href="/assets/css/custom.css" rel="stylesheet" type="text/css" />
        <link href="/assets/css/toastr.css" rel="stylesheet" type="text/css" />
        <!-- Sweet Alert -->
        <link href="/assets/plugins/sweet-alert2/sweetalert2.min.css" rel="stylesheet" type="text/css">
        <link href="/assets/plugins/animate/animate.css" rel="stylesheet" type="text/css">
        <!-- DataTables -->
        <link href="/assets/plugins/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
        <link href="/assets/plugins/datatables/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />
        <!-- Responsive datatable examples -->
        <link href="/assets/plugins/datatables/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" />
        <!-- jQuery  -->
        <script src="/assets/js/jquery.min.js"></script>
        <script>
        var datas = [];
        </script>
    </head>

    <body>

        <!-- Top Bar Start -->
        <div class="topbar">

            <!-- LOGO -->
            <div class="topbar-left">
                <a href="/" class="logo">
                    <span>
                        <img src="/assets/images/logo-sm.png" alt="logo-small" class="logo-sm">
                    </span>
                    <span>
                        <img src="/assets/images/logo.png" alt="logo-large" class="logo-lg">
                        <img src="/assets/images/logo-dark.png" alt="logo-large" class="logo-lg logo-dark">
                    </span>
                </a>
            </div>
            <!--end logo-->
            <!-- Navbar -->
            <nav class="navbar-custom">    
                <ul class="list-unstyled topbar-nav float-right mb-0">
                    <li class="dropdown">
                        <a class="nav-link dropdown-toggle waves-effect waves-light nav-user" data-toggle="dropdown" href="#" role="button"
                            aria-haspopup="false" aria-expanded="false">
                            <img src="/assets/images/avatar.jpg" alt="profile-user" class="rounded-circle" /> 
                            <span class="ml-1 nav-user-name hidden-sm">ADMIN <i class="mdi mdi-chevron-down"></i> </span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="/logout/"><i class="ti-power-off text-muted mr-2"></i> Logout</a>
                        </div>
                    </li>
                </ul><!--end topbar-nav-->
    
                <ul class="list-unstyled topbar-nav mb-0">                        
                    <li>
                        <button class="button-menu-mobile nav-link waves-effect waves-light">
                            <i class="ti-menu nav-icon"></i>
                        </button>
                    </li>
                </ul>
            </nav>
            <!-- end navbar-->
        </div>
        <!-- Top Bar End -->

        <div class="page-wrapper">
            <!-- Left Sidenav -->
            <div class="left-sidenav">
                <ul class="metismenu left-sidenav-menu">
                    <li>
                        <a href="/"><i class="mdi mdi-view-dashboard"></i><span>Trang Quản Trị</span></a>
                    </li>

                    <li>
                        <a href="javascript: void(0);"><i class="mdi mdi-link"></i><span>Link</span><span class="menu-arrow"><i class="mdi mdi-chevron-right"></i></span></a>
                        <ul class="nav-second-level" aria-expanded="false">
                            <li class="nav-item"><a class="nav-link" href="/link/add/"><i class="ti-control-record"></i>Thêm Link</a></li>
                            <li class="nav-item"><a class="nav-link" href="/link/"><i class="ti-control-record"></i>Danh Sách Link</a></li>
                            <li class="nav-item"><a class="nav-link" href="/link/completed/"><i class="ti-control-record"></i>Đã Hoàn Thành</a></li>
                            <li class="nav-item"><a class="nav-link" href="/link/uncompleted/"><i class="ti-control-record"></i>Chưa Hoàn Thành</a></li>
                            <li class="nav-item"><a class="nav-link" href="/link/error/"><i class="ti-control-record"></i>Link Lỗi</a></li>
                            <li class="nav-item"><a class="nav-link" href="/link/delete/"><i class="ti-control-record"></i>Đang Chờ Xóa</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- end left-sidenav-->
            <!-- Page Content-->
            <div class="page-content">